.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}
.Heading{
  font-family: 'Rubik Iso', cursive;
  font-size: 4rem;
}
.Text {
  font-family: 'Silkscreen', cursive;
}

.block {
  background-color: rgb(58, 58, 58); 
  border-radius: 35px; 
  margin-top: 2rem; 
  padding: 2rem;
  font-size: 16px;
}

.sep-3 {
    border-top: 1px solid #8c8b8b;
}
